[user]
	name = Orhun Parmaksız
	email = orhunparmaksiz@gmail.com
	signingkey = 165E0FF7C48C226E1EC363A7F83424824B3E4B90
[gpg]
	program = gpg
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/
#[url "ssh://git@bitbucket.org/"]
#  insteadOf = https://bitbucket.org/
[alias]
	a = add
	aa = add -A
	ap = add -p
	b = bisect
	br = branch
	c = clone
	cb = checkout -b
	ck = checkout
	cm = commit
	cmt = commit -m
	cmta = commit --amend
	cmtf = commit --amend --no-edit
	crds = config credential.helper store
	d = diff
	dc = diff --cached
	dd = commit --dry-run
	f = fetch
	g = grep
	god = !echo "god is listening"
	godsays = !git commit -m \"$(curl -s https://godsays.xyz)\"
	i = init
	l = log
	la = log --pretty=format:'[%h] %cd - Committer: %cn (%ce), Author: %an (%ae)'
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ll = log --graph --decorate --oneline --all
	lo = log --graph --decorate --all
	ls = ls-files
	m = mv
	mr = merge
	p = pull
	ps = push
	psmi = push origin main
	psmt = push origin master
	r = restore
	rb = rebase
	rm = rm
	rmt = remote -v
	rs = restore
	rst = restore --staged
	sh = show
	st = status
	t = tag
	ups = config --get remote.origin.url
	yolo = !git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
[commit]
	template = ~/.git-commit-template
	gpgsign = true
	verbose = true
[core]
	editor = nvim
[core]
    pager = delta --syntax-theme Dracula
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[init]
	defaultBranch = master
[push]
	autoSetupRemote = true
	default = current
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
