layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane borderless=true
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
