# bash shortcuts
"\e[A": history-search-backward
"\e[B": history-search-forward
"\C-f": "fg\n"
"\C-s": "$(search-command)\e\C-e\er"
"\e": "tere\n"

# git shortcuts
"\er": redraw-current-line
"\C-g\C-f": "$(gs)\e\C-e\er"
"\C-g\C-b": "$(gb)\e\C-e\er"
"\C-g\C-t": "$(gt)\e\C-e\er"
"\C-g\C-l": "$(gl)\e\C-e\er"
"\C-g\C-r": "$(gr)\e\C-e\er"
"\C-g\C-v": "$(gs)\e\C-e\er"

# settings
set colored-stats On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set visible-stats On
set enable-bracketed-paste On
