"\e[A": history-search-backward
"\e[B": history-search-forward
"\er": redraw-current-line
"\C-g\C-f": "$(gs)\e\C-e\er"
"\C-g\C-b": "$(gb)\e\C-e\er"
"\C-g\C-t": "$(gt)\e\C-e\er"
"\C-g\C-l": "$(gl)\e\C-e\er"
"\C-g\C-r": "$(gr)\e\C-e\er"
"\C-g\C-v": "$(gs)\e\C-e\er"
"\C-a": "fg\n"

set colored-stats On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set visible-stats On
set enable-bracketed-paste On
